<!-- este es el contenedor principal con padding -->
<div class="p-6">
  <!-- EL emcabezado del Screen donde el titulo estara a la izquierda y el boton a la derecha -->
  <div class="flex items-center justify-between mb-6">
    <div>
      <h1 class="text-2x1 font-bold text-gray-800">Especialidades</h1>
      <p class="text-sm text-gray-500 mt-1">Gestiona de las Especialidades medicas de la clinica</p>
    </div>
    <!-- (click)="abrirModal()" llama este método cuando el usuario hace clic -->
    <button
      (click)="abrirModal()"
      class="flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg text-sm font-medium transition-colors"
    >
      + Nueva Especialidad
    </button>
  </div>
  <!-- La tabla donde se vera todas las especialidades -->
  <div class="bg-white rounded-xl shadow-sm border border-gray-200">
    <table class="w-full text-sm">
      <thead>
        <tr class="border-b border-gray-200">
          <th class="text-left px-6 py-4 text-gray-500 font-medium">ID</th>
          <th class="text-left px-6 py-4 text-gray-500 font-medium">Nombre</th>
          <th class="text-left px-6 py-4 text-gray-500 font-medium">Descripción</th>
          <th class="text-left px-6 py-4 text-gray-500 font-medium">Estado</th>
          <th class="text-left px-6 py-4 text-gray-500 font-medium">Acción</th>
        </tr>
      </thead>
      <tbody>
        <!-- esta condicion se ejecutara mientras se este cargando y mostrara ese mensaje -->
        @if (cargando) {
          <tr>
            <td colspan="5" class="text-center py-10 text-gray-400">Cargando...</td>
          </tr>
        }
        <!-- con el bucle for se recorrera la lista de especialidades -->
        <!-- track esp.idEspecialidad le dice a Angular cómo identificar cada elemento -->
        @for (esp of especialidades; track esp.idEspecialidad) {
          <tr class="border-b border-gray-100 hover:ng-gray-50">
            <td class="px-6 py-4 text-gray-500">{{ esp.idEspecialidad }}</td>
            <td class="px-6 py-4 font-medium text-gray-800">{{ esp.nombre }}</td>
            <td class="px-6 py-4 text-gray-600">{{ esp.descripcion }}</td>
            <td class="px-6 py-4">
              <!-- en esta condicion se mostrara en badge verde si esta activo o gris si inactivo -->
              @if (esp.activo) {
                <div
                  class="flex items-center gap-1 bg-green-50 text-green-700 px-2 py-1 rounded-full w-fit"
                >
                  <ng-icon name="heroCheckCircle" size="12"></ng-icon>
                  <span class="text-xs font-medium">Activo</span>
                </div>
              } @else {
                <div
                  class="flex items-center gap-1 bg-gray-100 text-gray-500 px-2 py-1 rounded-full w-fit"
                >
                  <ng-icon name="heroXCircle" size="12"></ng-icon>
                  <span class="text-xs font-medium">Inactivo</span>
                </div>
              }
            </td>
            <td class="px-6 py-4">
              <!-- solo se mostrara el boton si la especialidad esta activa -->
              @if (esp.activo) {
                <button
                  (click)="desactivarEspecialidad(esp.idEspecialidad)"
                  class="text-red-500 hover:text-red-700 border border-red-200 hover:border-red-400 px-3 py-1 rounded-lg text-xs transition-colors"
                >
                  Desactivar
                </button>
              }
            </td>
          </tr>
        }
        <!-- este mensaje se mostrara cuando no  hay datos -->
        @if (especialidades.length === 0 && !cargando) {
          <tr>
            <td colspan="5" class="text-center py-10 text-gray-400">
              No hay especialidades registradas
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Modal para crear Especialidad -->
@if (mostrarModal) {
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <!-- esta ser la tarjeta del modal -->
    <div class="bg-white rounded-xl shadow-xl w-full max-w-md mx-4">
      <!-- este es el  header del modal -->
      <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200">
        <h2 class="text-lg font-semibold text-gray-800">Nueva Especialidad</h2>
        <!-- boton para cerrarlo -->
        <button (click)="cerrarModal()" class="text-gray-400 hover:text-gray-600 text-xl font-bold">
          X
        </button>
      </div>
      <!-- aqui estara el cuerpo del modal, los campos del formulario -->
      <div class="px-6 py-4 space-y-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Nombre:</label>
          <!-- [(ngModel)] enlaza este input con nuevaEspecialidad.nombre -->
          <input
            type="text"
            [(ngModel)]="nuevaEspecialidad.nombre"
            placeholder="Ejemplo: Cardiologia"
            class="w-full border border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          />
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">Descripcion:</label>
          <textarea
            [(ngModel)]="nuevaEspecialidad.descripcion"
            placeholder="Descripción de la especialidad"
            rows="3"
            class="w-full border border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none"
          >
          </textarea>
        </div>
      </div>
      <!-- los botones de accion del booter modal -->
      <div class="flex justify-center gap-3 px-6 py-4 border-t border-gray-200">
        <!-- boton para cancelar -->
        <button
          (click)="cerrarModal()"
          class="px-4 py-2 text-sm text-gray-600 hover:text-gray-800 border border-gray-300 rounded-lg hover:bg-gray-50 transition-colors"
        >
          Cancelar
        </button>
        <!-- boton para guardar -->
        <button
          (click)="crearEspecialidad()"
          class="px-4 py-2 text-sm bg-blue-600 hover:bg-blue-700 text-white rounded-lg transition-colors font-medium"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
}
